{
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
